.card-action {
   width: 600px;
   height: 50px;
   margin: 10px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 2px;
}
.red-card {
   border: 2px solid rgb(221, 56, 34);
}
.green-card {
   border: 2px solid rgb(87, 221, 34);
}
