.card-action {
   border: 2px solid #123;
   padding: 15px;
   width: 500px;
   height: 15px;
   margin: 5px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
   text-decoration: none;
   color: #123;
}

.red-card {
   border: 2px solid rgb(221, 56, 34);
}
.green-card {
   border: 2px solid rgb(87, 221, 34);
}
