.calculator {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   max-width: 400px;
   margin: 50px auto 0;
}
.calculator-item {
   border: 2px solid rgb(43, 82, 73);
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2px;
   :hover {
      background: rgb(238, 211, 220);
      border: 2px solid rgb(226, 233, 231);
   }
   :active {
      background: rgb(238, 211, 220);
      border: 2px solid rgb(226, 233, 231);
   }
}
.calculator-input {
   max-width: 600px;
   height: 50px;
   font-size: 20px;
   text-align: center;
   margin: 50px 0 0 0;
}
