.navbar {
   display: flex;
   height: 50px;
   background: rgb(42, 71, 73);
   color: #fff;
   justify-content: space-between;
   align-items: center;
   a {
      color: #fff;
   }
}
.navbar-list {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0 20px;
}
.navbar-item {
   list-style-type: none;
   text-decoration: none;
   margin: 0 10px 0 0;
   cursor: pointer;
   :hover {
      background: rgb(228, 219, 211);
   }
}
